albumentations==2.0.8
joblib==1.5.1
numpy==2.3.1
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
pandas==2.3.0
scikit-learn==1.7.0
scikit-image==0.22.0
keyboard==0.13.5